<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/liuyan.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/main.js"></script>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="logo">
            <img src="__PUBLIC__/Home/img/logo.png" alt="">
        </div>
        <div class="top-nav">
            <ul class="top-nav-ul">
                <li>
                    <a href="/index.php/home/index/index" class="mouseOn">首页</a>
                    <span class="top-nav-out">Home</span>
                </li>
                <li>
                    <a href="#" class="mouseOn">关于我</a>
                    <span class="top-nav-out">About</span>
                </li>
                <li>
                    <a href="#" class="mouseOn">慢生活</a>
                    <span class="top-nav-out">Life</span>
                </li>
                <li>
                    <a href="#" class="mouseOn">模板分享</a>
                    <span class="top-nav-out">Share</span>
                </li>
                <li>
                    <a href="/index.php/home/index/study" class="mouseOn">学无止境</a>
                    <span class="top-nav-out">Learn</span>
                </li>
                <li>
                    <a href="liuyan.html" class="mouseOn">留言</a>
                    <span class="top-nav-out">Saying</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-box">
        <div class="content">
            <div class="read-about-box">
                <h4 class="read-about">
                    <?php echo $blogInfo['title']; ?>
                    <span><?php echo $blogInfo['createtime']; ?></span>
                </h4>
                <div class="read-content"><?php echo $blogInfo['content']; ?></div>
                <img src="__PUBLIC__/Home/img/about.png" alt="" style="margin-top: 30px">
                <p class="about">
                <?php foreach ($data as $key => $value) { ?>
           
                  <a href="index.php?c=Home&a=blogInfo&id=<?php echo $value['id']; ?>"><?php echo $value['title']; ?></a>  
                      
                <?php } ?>                   
                </p>
                <div class="gbko">
                    <div class="release">
                        <div class="release-head">  
                            <form action="/Home/Index/doComment" method="post">                      
                                <div class="release-head-login">
                                    <?php if (isset($_SESSION['me']['id']) && $_SESSION['me']['id']) { ?>
                                    <a href="index.php?c=UserCenter&a=userInfo"><?php echo $_SESSION['me']['name']?></a> 
                                </div>
                                <button><a href="/Home/UserCenter/logout">注销</a></button>
                                    <?php } else  { ?>
                                    <a href="/Home/UserCenter/login">登陆</a></div>
                                    <?php } ?>
                                <div class="gbko-input">
                                <textarea name="content" placeholder="来说两句吧..."></textarea>
                                <input type="hidden" name="blog_id" value="<?php echo $blogInfo['id']; ?>">
                                </div>
                                <div class="gbko-btn">
                                <ul>
                                    <li><img src="__PUBLIC__/Home/img/small.png" alt=""></li>
                                    <li><img src="__PUBLIC__/Home/img/small2.png" alt=""></li>
                                </ul>
                                <input type="submit" name="" value="" class="btn">
                                </div>
                            </form>   
                        </div>
                    </div>
                    <div class="comment-title">
                        <span>评论</span>
                        <p><i>4202</i>人参与, <i><?php echo $commentCount; ?></i>条评论</p>
                    </div>
                    <p class="comment-news">最新评论</p>
                    <div class="comment-content-box">
                        <ul>
                        <?php foreach ($commentLists as $comment ) { ?>
                            <li>
                                <img src="<?php echo $comment['author']['image']; ?>" alt="">
                                <div class="comment-right">
                                    <p class="comment-right-title">
                                        <span><?php echo $comment['author']['name']; ?></span>
                                        <span class="comment-time"><?php echo date('Y年-m月-d日 H：i',strtotime($comment['createtime'])); ?></span>
                                    </p>
                                    <div class="commentCon"><?php echo $comment['content'] ; ?></div>
                                    <p class="comment-right-foot"><a href="#">回复</a></p>
                                </div>
                            </li>
                        <?php } ?>
                           <!--  <li>
                                <img src="__PUBLIC__/Home/img/header1.jpg" alt="">
                                <div class="comment-right">
                                    <p class="comment-right-title">
                                        <span>不会撩妹然并卵</span>
                                        <span class="comment-time">2017年10月20日 12:16</span>
                                    </p>
                                    <div class="commentCon">看到他们称呼您青姐，看到他们称呼您青姐，看到他们称呼您青姐，看到他们称呼您青姐，我也这样称呼吧，看过您博客里面的点点滴滴之后，我感觉这条路不是那么容易的，但我会一直走下去，谢谢看过您博客里面的点点滴滴之后，我感觉这条路不是那么容易的，但我会一直走下去，谢谢看过您博客里面的点点滴滴之后，我感觉这条路不是那么容易的，但我会一直走下去，谢谢</div>
                                    <p class="comment-right-foot"><a href="#">回复</a></p>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">Design by DanceSmile 蜀ICP备11002373号-1</div>
</div>
</body>
</html>